body {
  background: #131b21;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 50%;
  height: 90vh; /* Ajusta según sea necesario */
  margin: 0 auto;
}

#flower-frame {
  height: 100%;
  width: 100%;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3em;
  font-family: Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  z-index: 10; /* Asegura que el texto esté por encima del SVG */
}
